*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

header  {
    background-color: #5454D4;
    padding-top: 30px;  
    margin-bottom: 100px;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list{
    display: flex;
    align-items: center;
}

.nav_link{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.navbar_link{
    margin: 0px 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: .3s;
}

.navbar_link:hover{
    color: #191950;
}

.cart_link{
    display: flex;
    align-items: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.cart_link:hover{
    color: #191950;
}

.cart_img{
    margin-left: 10px;
}

.main{
    padding: 100px;
}

.main_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_title{
    color: #FFFFFF;
}

.main_text{
    font-size: 60px;
    width: 90%;
    margin-bottom: 30px;
}

.main_suptext{
    font-size: 20px;
    width: 78%;
    color: #FFFFFF90;
    line-height: 35px;
    margin-bottom: 20px;
}

.main_orginal{
    background-color: #6d6dc5;
    width: 35%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.orginal_text{
   margin-bottom: 5px;
}

.orginal_suptext{
    font-size: 10px;
    color: #FFFFFF90;
}

.orginal_link{
    background-color: #77BF41;
    padding: 5px 7px;
    top: 20%;
    left: 40%;
    width: 50%;
    border-radius: 5px;
    font-size: 15px;
    position: absolute;
}

.orginal_list{
    display: flex;
    align-items: center;
    
}

.orginal_item{
    position: relative;
}

.top{
    background-color: white;
    padding: 7px 20px;
    border-radius: 5px;
    color: black;
}

.one{
   
}

.one_text{
    color: black;
    position: absolute;
    background-color: #706f6fab;
    font-size: 10px;
    padding: 1px 2px;
    top: 1%;
    left: 78%;
    border-top-right-radius: 5px;
}

.one_suptext{
    color: black;
    background-color: #706f6fab;
    font-size: 10px;
    padding:2px 3px;
    position: absolute;
    top: 49%;
    left: 80%;
    border-bottom-right-radius: 5px;
}

.onee{
    margin-left: 40px;
    border: 1px solid #6d6dc5;
    padding: 5px 15px;
    border-radius: 7px;
    transition: .3s;
}

.onee:hover{
    background-color: #FEDC5A;
    color: black;
}

section{
    margin-bottom: 100px;
}

.section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_unique{
    display: flex;
    margin-bottom: 25px;
}

.section_text{
    font-size: 60px;
    width: 90%;
    margin-bottom: 30px;
}

.section_suptext{
    font-size: 20px;
    width: 88%;
    line-height: 35px;
    color: #696871;
    margin-bottom: 30px;
}

.section_photo{
    width: 550px;
}

.unique_photo{
    width: 50px;
}

.unique_text{
    font-size: 20px;
    color: black;
    margin-left: 20px;
}

.unique_suptext{
    font-size: 17px;
    color: #696871;
    margin-left: 20px;
}